<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
</head>
<body>
    <h1>Generate QR Code from URL</h1>

    <form method="post">
        {% csrf_token %} <!-- Renders the Django form (URLForm) using {{ form.as_p }} which formats each field as a paragraph.-->
        {{ form.as_p }}
        <button type="submit">Generate</button>
    </form>

    {% if img_data %}
        <h2>Success</h2>
    {% endif %}

    <p><a href="{% url 'qr_library' %}">View QR Code Library</a></p>
</body>
</html>
