<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" margin: 1rem;">
        <!-- hamburger menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- buttons that filter all and filter by user all library and personal library -->
                <li class="nav-item" id="myBtnContainer">
                    <a href="{% url 'url_library' %}" class="btn nav-link" >Library</a>
                </li>
                <li class="nav-item" id="myBtnContainer">
                    <!-- filter with javascript 
                    <<button class="btn nav-link" onclick="filterSelection('{{ currentuser|slugify }}')">My Library</button> find way to access current user -->
                    
                    <!-- filter with views -->
                    <a href=" {% url 'myurls_library' %}  " class="btn nav-link" >My Library</a>

                </li>
                <li class="nav-item">
                    <a class="btn nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Add</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- popout add_url -->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add url </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">


                <form action= "" method="POST" >
                    {% csrf_token %}
                    {{libraryform}}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div> 
    <!--      -->

    <hr>

    <div class="container text-center" style = "margin: auto;">
    {% if library %}
        {% for i in library %} 
            {% if forloop.counter0|divisibleby:4%}
            <!-- start row -->
                <div class="row">
            {% endif %}

                    <div class="card text-white bg-info col {{ i.user|slugify }}" style="padding:1% 2% 2%; margin:2%; min-width: 200px; max-width: 200px;">
                        <div>
                            <button class="float-end bg-info " style="border: none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                </svg>
                            </button>
                           
                            <button type="button" class="btn-close float-start" aria-label="Close"></button>
                        
                        </div>
                        <a href="{{i.image_path}}" class="image-container" download>
                            <img src="{{i.image_path}}" alt="{{i.name}} qr" class="rounded mx-auto d-block">
                        </a>
          
                        <div class="card-body">
                            <!-- <div class="card-text">Click to download</div> -->
                            <h5 class="title">{{i.name}}</h5>
                            <h6 class="card-title" style="font-style: italic; font-size: small;">{{i.created_at}}</h6>
                            <p class="card-text">{{i.description}}</p>
                            <a href="{{i.url}}" target="_blank" class="btn btn-primary">{{i.name}}</a>
                        </div>
                    </div>

            <!-- end row -->
            {% if forloop.counter0|add:'1'|divisibleby:4 or forloop.last %}
                        <div class="card text-white bg-info col {{ i.user|slugify }}" style=" padding:0px; margin:2%; min-width: 200px; max-width: 200px; min-height: 367.4px;">
                            <button class="btn" style="width:100%; height: 100%;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                Add
                            </button>
                        </div>
                            
                    </div>
            <!-- just add column -->
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

   <!-- Filter with javascript 

    <script>
        filterSelection("all")
        function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("col");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
        }
        
        function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
        }
        }
        
        function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);     
            }
        }
        element.className = arr1.join(" ");
        }
        
        
        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
        }
    </script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>



<style>
/* for QR image */
.image-container {
  width: auto;
  height: auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
</html>

